body {
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#grid {
  display: flex;
  width: 176px;
  height: 176px;
  flex-wrap: wrap;
}
.gridItem {
  border: 1px rgb(219, 218, 218) solid;
  width: 9px;
  height: 9px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 20px;
  width: 176px;
}
.gridItem:hover {
  background-color: black;
}
.coloredGridItem {
  background-color: black;
}
