body {
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#grid {
  display: flex;
  flex-wrap: wrap;
}
.gridItem {
  border: 1px rgb(219, 218, 218) solid;
  width: 10px;
  height: 10px;
}

.container {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  width: 190px;
  background-color: white;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 20px;
}

.coloredGridItem {
  background-color: black;
}
